<div class="barra barraTexto margenL margenR quitar800">
  <div class="flex-container">
     <h5 class=" suscribirse suscri ">
       <a ><b  class="anima2" > SUSCRIBIRSE</b></a> 
      | 
      <a > <b style="color:orange" class="anima2">CONTACTAR</b></a></h5>

      <h5 class=" margenL quitar800 quienesSomos" routerLink="quienesSomos" >✉ ¿QUIÉNES SOMOS?</h5>
      <h5 class="  margenL quitar800 formarParte" routerLink="formaParte" >✉ ¿CÓMO FORMAR PARTE DEL CCAM?</h5>
      
      <div class="quitar800" style="margin-top:4px ; margin-right: 30px;">
    <!-- <mat-icon aria-hidden="false" class="margenR"aria-label="Example home icon" style="margin-right: 30px; margin-top:1px" routerLink="buscador">search</mat-icon>  -->
    <!-- <input  routerLink="buscador" class="margenR"  placeholder="Buscar"  type="text">            -->
    <a href="https://www.youtube.com/c/CentroCulturalArgentinodeMonta%C3%B1a" target="_blank"> <img src="../../../assets/fa_youtube.png" alt="" style="margin-right: 5px;margin-top:-18px" width="18px"></a>
      <a href="https://www.instagram.com/ccam_arg/?hl=es-la" target="_blank"> <img src="../../../assets/icoInsta.png" alt="" style="margin-top:-17px; margin-right: 2px;" width="29px"></a> 
      
      <a href="https://web.facebook.com/ccamontania" target="_blank"> <mat-icon style="color:white; font-size: 26px;">facebook</mat-icon></a> 
    
    
    </div>
      </div>

</div>

<div class="cuerpo margenL margenR"> 
  <div class="barraInfo">
    <h5 class="suscribirse2 suscri2"><b> MES: OCTUBRE | AÑO: 2022</b></h5>
    <app-a-portada></app-a-portada>
      <div style="text-align: left;">
      <h1 class="indice">ÍNDICE(5)</h1>
      
      <app-b-indice></app-b-indice>



<div style="color: white;"> 
  <h1 style="margin-left: 23px; ">Editorial</h1>
<div style="background-color: #3E2800;height: 400px; margin-left: 20px; margin-right: 20px;">
<br>
<p class="editorial" style="font-size: 30px;margin-left: 20px;">Queridos amantes de la montaña,
  </p>
 
  <p  style="font-size:18px; margin-top:-0px; color: white;margin-left: 20px">
  En este mes en el que se celebra el Día Internacional de la Mujer adherimos a la propuesta de la Naciones Unidas
  de conmemorarlo bajo el lema "Igualdad de género hoy para un mañana sostenible”, en referencia a la crisis climática
  y sus consecuencias sociales y económicas.

 
  Como amantes de la montaña y de la naturaleza estamos comprometidos con el medio ambiente y conocemos que en
  todo el mundo las mujeres dependen más de los recursos naturales, como responsables de brindar a sus familias la
  comida, el agua y la vestimenta.
</p>
<p class="editorial" style="font-size: 18px; margin-left: 20px;">
  Por ello continuaremos divulgando todas aquellas acciones de mujeres esforzadas en encontrar soluciones que
  aminoren las secuelas del cambio climático. La actuación igualitaria de las mujeres en los lugares de decisión es de
  vital importancia para aspirar a un futuro sustentable.
  
  Es por ello que los invito a que descubramos juntos en este nuevo año a la Cultura de Montaña!!!
  
  VENI Y SUMATE A LA RED DEL CCAM ! ! !</p>
</div>

    </div>
  
<div style="margin-right: 20px;">
  <h1 style="margin-left:20px; margin-top:20px">Novedades</h1>
  <div class="row" style="margin:0px; padding:0pc">
    <div class="col-4" style="padding-right: 0px; padding-left:20px">
      <img src="../../../assets/foto001.jpg" alt=""  width="100%">
    </div >
  <div class="col-8" style="background-color: rgba(0, 0, 0, 0.548);margin-right: 0px!important; ">
    <h4 style="position:absolute; font-size:  15px;padding:5px;  background-color: orange;margin-left: 18px; margin-top:15px">MEDIO AMBIENTE</h4>
      <h1 style="font-weight: 800; border-radius: 15px; color:white; padding: 20px; font-size: 30px;margin-top:35px" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste repellat magnam blanditiis soluta.</h1>
    </div>
  </div>
  <br>
  <div class="row" style="margin:0px; padding:0pc">
    <div class="col-4" style="padding-right: 0px; padding-left:20px">
      <img src="../../../assets/foto003.jpg" alt=""  width="100%">
    </div >
  <div class="col-8" style="background-color: rgba(0, 0, 0, 0.548);margin-right: 0px!important; ">
    <h4 style="position:absolute; font-size:  15px;padding:5px;  background-color: orange;margin-left: 18px; margin-top:15px">MEDIO AMBIENTE</h4>
      <h1 style="font-weight: 800; border-radius: 15px; color:white; padding: 20px; font-size: 30px;margin-top:35px" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste repellat magnam blanditiis soluta.</h1>
    </div>
  </div>
  <br>
  <div class="row" style="margin:0px; padding:0pc">
    <div class="col-4" style="padding-right: 0px; padding-left:20px">
      <img src="../../../assets/foto001.jpg" alt=""  width="100%">
    </div >
  <div class="col-8" style="background-color: rgba(0, 0, 0, 0.548);margin-right: 0px!important; ">
    <h4 style="position:absolute; font-size:  15px;padding:5px;  background-color: orange;margin-left: 18px; margin-top:15px">MEDIO AMBIENTE</h4>
      <h1 style="font-weight: 800; border-radius: 15px; color:white; padding: 20px; font-size: 30px;margin-top:35px" > Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste repellat magnam blanditiis soluta.</h1>
    </div>
  </div>
</div>
<br>
<div style="margin-right: 20px; position: relative;">
  <h1 style="position: absolute;z-index: 1000;top:20px; left: 30px;font-size: 80px;
  color:white; text-shadow: 1px 1px 10px black; ">Cumbres</h1>
  <h1 style="position: absolute;z-index: 1000;top:85px; left: 38px;font-size: 80px;
  color:white; text-shadow: 1px 1px 10px black; ">borrascosas</h1>

<h1 style="position: absolute;z-index: 1000;top:175px; left: 43px;font-size: 20px; width: 400px;
color:white; text-shadow: 1px 1px 10px black; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure asperiores placeat doloremque error, aperiam nisi voluptatum culpa voluptatibus ullam sed facere, maiores quasi earum architecto dolor nobis, dolorum necessitatibus temporibus.</h1>

<button class="btn btn-warning" style="position: absolute;z-index: 1000;top:360px; left: 43px;">Ver articulo</button>
<img src="../../../assets/montanismo_beneficios_mindfilness_0.jpg" width="98%"  alt="" style="margin-left:20px; filter: brightness(0.5);height: 600px;object-fit: cover;">
<div >
<br>
</div>
</div>
<div>
  <div class="row" style="margin:0px; padding:0px">
    <div class="col-4" style="margin:0px; padding:0px; " >
      <div style="position: relative;">
      <img src="../../../assets/foto001.jpg" width="100%" height="600px" alt="" style="padding: 10px;padding-left: 20px; object-fit: cover;filter:grayscale(1); filter: brightness(0.5);" >
      
        <h1 style="text-shadow: 2px 2px 6px black; position: absolute;top:60%; color:white;left:10% ; line-height: 34px;">Lorem ipsum dolor sit amet consectetur </h1>
        <p style="position: absolute;top:78%; line-height: 19px; color:white;left:10%"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit non modi illum reiciendis repudiandae aut. Ipsum nesciunt nisi ea, natus corporis beatae. Placeat quo, itaque consequatur officia similique optio illo.</p>
      
    </div>
    </div>
    <div class="col-4">
      <div style="margin-right: 0px;position: relative;">
        <img src="../../../assets/montanismo_beneficios_mindfilness_0.jpg" width="100%" height="600px" alt="" style="padding: 10px;padding-left: 20px; object-fit: cover;filter:grayscale(1); filter: brightness(0.5);" >
        
          <h1 style="text-shadow: 2px 2px 6px black; position: absolute;top:60%; color:white;left:10% ; line-height: 34px;">Lorem ipsum dolor sit amet consectetur </h1>
          <p style="margin-right: 10px;position: absolute;top:78%; line-height: 19px; color:white;left:10%"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit non modi illum reiciendis repudiandae aut. Ipsum nesciunt nisi ea, natus corporis beatae. Placeat quo, itaque consequatur officia similique optio illo.</p>
        
      </div>
    </div>
    <div class="col-4">
      <div style="position: relative;">
        <img src="../../../assets/foto003.jpg" width="100%" height="600px" alt="" style="padding: 10px;padding-left: 20px; object-fit: cover;filter:grayscale(1); filter: brightness(0.5);" >
        
          <h1 style="text-shadow: 2px 2px 6px black; position: absolute;top:60%; color:white;left:10% ; line-height: 34px;">Lorem ipsum dolor sit amet consectetur </h1>
          <p style="margin-right: 20px; position: absolute;top:78%; line-height: 19px; color:white;left:10%"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit non modi illum reiciendis repudiandae aut. Ipsum nesciunt nisi ea, natus corporis beatae. Placeat quo, itaque consequatur officia similique optio illo.</p>
        
      </div>
    </div>

  </div>
  <br><br><br><br><br><br><br>
</div>


    </div><!-- fin de fondo orange -->
    
    
  </div>
    
  

</div>

