<div class="barra barraTexto margenL margenR ">
  <div class="flex-container">
     <h5 class=" suscribirse suscri ">
       <a routerLink="/"><b style="color:orange; letter-spacing: 2px;z-index: 1000;" class="anima2"   > INICIO</b></a> 
      | 
      <a href="http://www.culturademontania.org.ar/Suscripcion-form/suscripcion.html" target="_blank"> <b style="color:orange; letter-spacing: 2px;" class="anima2" > SUSCRIBIRSE</b></a></h5>
      
      <!-- <h5 class=" margenL quitar800 quienesSomos"  routerLink="/" >✉ INICIO </h5> -->
      <h5 class=" margenL quitar800 quienesSomos" routerLink="quienesSomos" >✉ ¿QUIÉNES SOMOS?</h5>
      <a href="http://www.culturademontania.org.ar/" target="_blank">
      <h5 class="  margenL quitar800 formarParte" routerLink="formaParte" > - CENTRO CULTURAL ARGENTINO DE MONTAÑA - </h5>
    </a>
      
      <div  class="redes">
    <!-- <mat-icon aria-hidden="false" class="margenR"aria-label="Example home icon" style="margin-right: 30px; margin-top:1px" routerLink="buscador">search</mat-icon>  -->
    <!-- <input  routerLink="buscador" class="margenR"  placeholder="Buscar"  type="text">            -->
    <a href="https://www.youtube.com/c/CentroCulturalArgentinodeMonta%C3%B1a" target="_blank"> <img src="../../../assets/fa_youtube.png" alt="" style="margin-right: 5px;margin-top:-18px" width="18px"></a>
      <a href="https://www.instagram.com/ccam_arg/?hl=es-la" target="_blank"> <img src="../../../assets/icoInsta.png" alt="" style="margin-top:-17px; margin-right: 2px;" width="29px"></a> 
      
      <a href="https://web.facebook.com/ccamontania" target="_blank"> <mat-icon style="color:white; font-size: 26px;">facebook</mat-icon></a> 
    
    
    </div>
      </div>

</div>
