<div style="background-image: url('../../../assets/fon.png'); height: 730px; margin:20px; object-fit: cover;margin-top: 10px;"> 
    <div class="row" >
      <div class="col-6" style="transform: rotate(-2deg);margin-top:20px!important;">
        <div style="margin-left: 35px; border-radius: 10px;">
          <div> 
            <img src="{{link}}" width="100%" alt="" style="height: 400px; margin-top:30px; border: 20px solid orange;object-fit: cover;">
            <div style="background-color: orange;width:100%; margin-top:-28px; padding-left:15px" >
            <p  class="titulo" style="color: rgb(255, 255, 255);">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum labore minus asperiores possimus consequuntur blanditiis harum, quis magni quae mollitia architecto dolorem cupiditate eum quo optio in deserunt corporis nobis.</p>
            <!-- <button class="btn btn-dark">Ingresar</button> -->
            
            <br>
          </div>
          </div>
     
        </div>
   
      </div>
       <div class="col-6" style="margin-top:60px!important">
  <div class="row">
  <div class="col-1">
    <div style="margin-top:20px">
    <h1 class="marg" style="color: #665622;">1</h1>
    <h1 class="marg" style="margin-left:-5px; color: #a73b0a;">2</h1>
    <h1 class="marg" style="color:  #7C5100;margin-left:-5px; ">3</h1>
    <h1 class="marg" style="color:#536800; margin-left:-5px; ">4</h1>
    <h1 class="marg" style="color: #3E2800;margin-left:-5px;">5</h1>
  </div>
  </div>
  
  <div class="col-11" >
    <div style="margin-right:20px; background-color:#66562273; border-radius: 10px;">
        <p class="titulo" (click)="link='../../../assets/foto001.jpg' ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui molestiae, nostrum officiis vero.</p>
  </div>
  <div style="background-color: #a73c0a8e ;margin-right:20px;border-radius: 10px;;">
  <p class="titulo" (click)="link='../../../assets/montanismo_beneficios_mindfilness_0.jpg'" >El interés de andinistas y arqueólogos de Argentina y Chile sobre las más antiguas ascensiones</p>
  </div>
  <div style="background-color: #7C5100; border-radius:10px;margin-right:20px;">
  <p class="titulo " style="margin-top:24px;">Explorando los Volcanes sagrados, Quehuar y Llullaillaco los Volcanes sagrados, Quehuar y Llullaillaco</p>
  </div>
  <div style="background-color:#536800; margin-top: -16px;border-radius:10px;margin-right:20px; ">
  <p class="titulo tituloMargen " >El interés de andinistas y arqueólogos de Argentina y Chile sobre las más antiguas ascensiones que se conocen</p>
  </div>
  <div style="background-color: #3E2800;margin-top:-23px;border-radius:10px;margin-right:20px; ">
  <p class="titulo tituloMargen">El interés de andinistas y arqueólogos de Argentina y Chile sobre las más antiguas ascensiones que se conocen</p>
  </div>
  
  
  </div>
  
  </div>
  
  
  
      </div> 
    </div>
      
  
  </div>