<div class="fondo"> 
    <div class="row quitar600"  >
      <div class="col-6 col-sm-0" style="transform: rotate(-2deg); max-height: 800px;min-height: 900px;;">
        <div style="margin-left: 35px; ">
          <div > 
            <img class="imagen" src="{{link}}" width="100%" alt="" style="border-radius: 10px">
            
            <div class="tituloBox" style="border-radius: 10px;">
              <a routerLink="../articulo/{{this.ruta}}"> 
               <h1 class="titulo truncar3" style="font-size: 30px;line-height: 35px; color:white;margin-top:10px; text-shadow: 2px 2px 2px black;">{{titulo}}</h1>
            </a>
            
            <p  routerLink="../articulo/{{this.ruta}}"  class="descripcion truncar4" style="color:black; margin-top:-10px; ">{{descripcion}}<span></span></p>
            
            <!-- <button class="btn btn-dark">Ingresar</button> -->
            
            <br>
          </div>
          </div>
     
        </div>
   
      </div>
       <div class="col-6" style="margin-top:10px!important">
      <div class="row">
    <!-- <div class="col-1">
    <div>
 <h1 class="marg" style="color: #665622;margin-top:10px">》</h1>
    <h1 class="marg" style="color: #a73b0a; margin-top:-13px">》</h1>
    <h1 class="marg" style="color:  #7C5100;margin-left:-5px; ">》</h1>
    <h1 class="marg" style=" color:#536800; margin-top:-4px ">》</h1>
    <h1 class="marg" style="color: #3E2800;margin-left:-5px;margin-top:-4px">》</h1> 
 
  </div>
  </div>   -->
  
  <div class="col-12" style="padding:0px; margin:0px; padding-left:10px; margin-top: 20px;" >

    
    <div class="hov margenes" style=" background-color:orange;" (mouseover)="cambioImagen1()">
      <a  target="_blank" href="/articulo/{{data[19]?._id}}" >
            <p class="titulo" style="margin-top:15px"  >{{data[19]?.titulo}}</p>
      </a>
    </div>
    
    
    <div class="hov margenes "  style="background-color: orange ;"(mouseover)="cambioImagen2()">
      <a   target="_blank" href="/articulo/{{data[4]?._id}}" target="_blank">
    <p class="titulo">{{data[4]?.titulo}}</p>
      </a>
    
    </div>
 
  <div class=" hov margenes"  style="background-color:orange;" (mouseover)="cambioImagen3()">
    <a routerLink="articulo/{{data[5]?._id}}" 
      target="_blank">
  <p class="titulo ">{{data[5]?.titulo}}</p>
  </a>
  <!-- <p class="autor">Por: {{data[2]?.autor}}</p> -->
  </div>
 
  <div  class="hov margenes"  style="background-color:orange; " (mouseover)="cambioImagen4()">
    <a routerLink="articulo/{{data[10]?._id}}" 
      target="_blank">
  <p class="titulo" >{{data[10]?.titulo}}</p>
  </a>
  <!-- <p class="autor">Por: {{data[3]?.autor}}</p> -->
  </div>
  <div class="hov margenes"  style="background-color:orange; "(mouseover)="cambioImagen5()">
    <a routerLink="articulo/{{data[11]?._id}}" 
      target="_blank">
  <p class="titulo" > {{data[11]?.titulo}}</p>
</a>
  <!-- <p class="autor">Por: {{data[4]?.autor}}</p> -->
  </div>
  <div class="hov margenes"  style="background-color:orange; "(mouseover)="cambioImagen6()">
    <a routerLink="articulo/{{data[12]?._id}}" 
    target="_blank">
    <p class="titulo"  > {{data[12]?.titulo}}</p>
    </a>
    <!-- <p class="autor">Por: {{data[4]?.autor}}</p> -->
    </div>
    <div class="hov margenes"  style="background-color: orange; "(mouseover)="cambioImagen7()">
      <a routerLink="articulo/{{data[21]?._id}}" 
      target="_blank">
      <p class="titulo" >{{data[21]?.titulo}}</p>
      </a>
      <!-- <p class="autor">Por: {{data[4]?.autor}}</p> -->
      </div>
      <div class="hov margenes"  style="background-color: orange; "(mouseover)="cambioImagen8()">
        <a routerLink="articulo/{{data[20]?._id}}" 
        target="_blank">
        <p class="titulo">{{data[20]?.titulo}}</p>
        </a>
        <!-- <p class="autor">Por: {{data[4]?.autor}}</p> -->
        </div>
              
  
  
  </div>
  
  </div>
  
  
  
      </div> 
    </div>





    
<!-- SOLO EN DISPOSITIVOS MOBILES -->
    <div class="poner600">
      <div class="row " style="margin-top: 10px;">
      <div class="col-5"> 
        <a routerLink="../articulo/{{data[11]?._id}}">
     <img  class="img" src="{{data[11]?.imagen1}}" width="100%" alt=""  style="height: 60px;">  
    </a>
 
        </div>  
              
        <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
          <a routerLink="../articulo/{{data[11]?._id}}">
   <p class="titulo truncar3" >{{data[11]?.titulo}}</p> 
  </a>
        
            
        </div>
      </div>
      
      <div class="row ">
        <div class="col-5"> 
          <a routerLink="../articulo/{{data[10]?._id}}">
       <img  class="img" src="{{data[10]?.imagen1}}" width="100%" alt="">  
       </a>
   
          </div>  
          
  
         
          <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
            <a routerLink="../articulo/{{data[10]?._id}}">
            <p class="titulo">{{data[10]?.titulo}}</p> 
            </a>
              
          </div>
        </div>
        
        <div class="row ">
          <div class="col-5"> 
            <a routerLink="../articulo/{{data[5]?._id}}">
         <img class="img" src="{{data[5]?.imagen1}}" width="100%" alt="">  
        </a>
            </div>  
            
    
           
            <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
              <a routerLink="../articulo/{{data[5]?._id}}">
      <p class="titulo">{{data[5]?.titulo}}</p> 
    </a>
            
                
            </div>
          </div>
      
               
        <div class="row ">
          <div class="col-5"> 
            <a routerLink="../articulo/{{data[4]?._id}}">
         <img class="img" src="{{data[4]?.imagen1}}" width="100%" alt="">  
        </a>
     
            </div>  
            
    
           
            <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
              <a routerLink="../articulo/{{data[4]?._id}}">
      <p class="titulo">{{data[4]?.titulo}}</p> 
    </a>
            
                
            </div>
          </div>
      
                         
        <div class="row ">
          <div class="col-5"> 
            <a routerLink="../articulo/{{data[6]?._id}}">
         <img class="img" src="{{data[6]?.imagen1}}" width="100%" style="height: 60px;" alt="">  
     </a>
            </div>  
            
    
           
            <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
              <a routerLink="../articulo/{{data[6]?._id}}">
      <p class="titulo">{{data[6]?.titulo}}</p> 
        </a>
                
            </div>
          </div>
                   
          <div class="row ">
            <div class="col-5"> 
              <a routerLink="../articulo/{{data[7]?._id}}">
           <img class="img" src="{{data[7]?.imagen1}}" width="100%" alt="">  
          </a>
              </div>  
              
      
             
              <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
                <a routerLink="../articulo/{{data[7]?._id}}"> 
        <p class="titulo">{{data[7]?.titulo}}</p> 
        </a>
              
                  
              </div>
            </div>
        
                          
            <div class="row ">
              <div class="col-5"> 
                <a routerLink="../articulo/{{data[8]?._id}}">
             <img class="img" src="{{data[8]?.imagen1}}" width="100%" alt="">  
             </a>
         
                </div>  
                
        
               
                <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
                  <a routerLink="../articulo/{{data[8]?._id}}">
          <p class="titulo">{{data[8]?.titulo}}</p> 
          </a>
                
                    
                </div>
              </div>
          
                     
              <div class="row ">
                <div class="col-5"> 
               <img class="img" src="{{data[7]?.imagen1}}" width="100%" alt="">  
           
                  </div>  
                  
          
                 
                  <div  class="col-7" style=" background-color:#66562273;" (click)="cambioImagen1()">
           
            <p class="titulo">{{data[7]?.titulo}}</p> 
                  
                      
                  </div>
                </div>
            
 
    </div>
      
  
  </div>