
    <div style="position:relative">
        <!-- ../../../assets/montanismo_beneficios_mindfilness_0.jpg -->
        <img class="imagenPortada"src="../../../assets/foto003.jpg" alt="" width="100%"  height="600px">
        <div class="imgLogo">
        <img src="../../../assets/logonm.png" alt="" width="300px">
        </div>

    <div class="lugarLogo">
    <h1 class="h1Logo"> NOTICIAS DE MONTAÑA </h1>   
    </div>
  
      <div class="cuadroTitulo">
        <h6 class="categoria">MONTAÑISMO </h6>
  <h1 class="titular">Los beneficios del Mindfulness en la práctica del montañismo</h1>
      </div>
  
        </div>