 
    <br>
    <hr>
    <br>
    <h1 class="titulo" style="margin-left:0px; color:brown">| ARTÍCULOS RELACIONADOS</h1>
     

    <div class="row" >

      <div class="card col-4">
          <img class="card-img-top sombra"src="{{this.articulos[0]?.resultadoImagen}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
            <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art1}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
      <div class="card col-4" >
          <img class="card-img-top sombra"src="{{articulos[0]?.resultadoImagen2}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
              <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria2)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art2}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
      <div class="card col-4" >
          <img class="card-img-top sombra"src="{{articulos[0]?.resultadoImagen3}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
               <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria3)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art3}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
      <div class="card col-4" >
          <img class="card-img-top sombra"src="{{articulos[0]?.resultadoImagen4}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
               <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria4)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art4}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
      <div class="card col-4" >
          <img class="card-img-top sombra"src="{{articulos[0]?.resultadoImagen5}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
               <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria5)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art5}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
      <div class="card col-4" >
          <img class="card-img-top sombra"src="{{articulos[0]?.resultadoImagen6}}" alt="" height="200px" style="object-fit: cover;">
          <div class="card-body">
               <h6 class="categoria"><b>{{cut(articulos[0]?.resultadoCategoria6)}}</b></h6>
            <h1 class="card-title titulo" >{{articulos[0]?.art6}}</h1> 
            <!-- <p class="card-text" style="margin-top:-10px">{{not?.subtitulo}}</p>           -->
          
          </div>     
      </div>  
       
       </div>